body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(160, 93, 26) !important;
}

.level{
	display: none;
}

.levelSelectButton{
	background-color: #165510;
	color:white;
	font-size: large;
	transition-duration: 0.4s;
}
.levelSelectButton:hover{
	background-color: white;
	color:black;
}
a {
  color: #00B7FF;
}

.btn{ 
	margin: 10px; 
	float: left;
	
}
.buttons{
	margin-left: 700px;
}

.footer{

	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #006E33;
	color: white;
	text-align: center;	
}

/* Add a black background color to the top navigation */
.header {
	background-color: #F1F1F1;
	text-align: center;
	padding: 20px;
  }


.shuffle{
	position:fixed;
	margin-left:50px;
}