body {
	margin: 0;
	height: 100vh;
	display: grid;
	width: 100%;
	background-color: rgb(29, 74, 158) !important;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 1fr;
}

.grid-container{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 10px;
	grid-template-columns: repeat(8, 1fr);
	grid-auto-rows: minmax(100px, auto);
	grid-column-gap: 50px;
}
#calculatedScore{
	color:white !important;
}
#levelHead{
	position:fixed;
	margin-left: 850px;
}
.level{
	display: none;
	position:fixed;
}

#submit{
	grid-column: 1 / span 1;
}


#shuffleButton{
	grid-column: 2 / span 1;
	margin-left: 250px;
}

#userInputBox{
	width: 550px;
	height: 50px;
	grid-column: 1 / span 3;
	margin-bottom: 10px;
	font-size:25px;

}
.userAnswer{
	position: fixed;
	bottom:400px;
	left: 450px;
	display:grid;
	
}

@media(max-width: 600px){


}
@media(max-width: 600px){


}


.dashes{
	color:white;
	font-size: 25px;
}

#timer{
	color: white !important;
}


.letterButton{
	display: inline-flex;
	background-color: #030a02;
	color:white;
	font-size: 30px !important;
	width: 70px;
	transition-duration: 0.4s;
}
.letterButton:hover{
	background-color: white;
	color:black;
}
 .letterButton:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#buttonList{
	display: grid;
	position:fixed;
	width: 550px;
	height: 90px;
	left: 450px;
	bottom:250px;
	grid-template-columns: repeat(6, 1fr);
} 
a {
  color: #00B7FF;
}


.submit{
	width:150px;
}


/* Add a black background color to the top navigation */
.header {
	background-color: #F1F1F1;
	text-align: center;
	padding: 20px;
  }



#answers{
	position:relative;
	top:90px;
	left: 300px;
	
}


.background-one {
	background-color: #8f3f3f;
}
  
.background-two {
background-color: #0d2986;
}

.background-three {
background-color: #151515;
}

.link-container {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 100%;
position: relative;
z-index: 0;
}

a {
font-family: Futura,Trebuchet MS,Arial,sans-serif;
font-size: 2.5em;
}

.link-one {
color: #e0ac32;
transition: color 1s cubic-bezier(0.32, 0, 0.67, 0);
line-height: 1em;
}

.link-one:hover {
color: rgb(188, 199, 41);
transition: color 1s cubic-bezier(0.33, 1, 0.68, 1);

/* Thanks Chris Coyier, you got my back always. https://css-tricks.com/different-transitions-for-hover-on-hover-off/ */
}

.link-one::before {
content: "";
position: absolute;
z-index: -1;
width: 100%;
height: 100%;
top: 0;
right: 0;
background-color: #e4d82e;

clip-path: circle(0% at 50% calc(50%));
transition: clip-path 1s cubic-bezier(0.65, 0, 0.35, 1);
}

.link-one:hover::before {
clip-path: circle(100% at 50% 50%);
}

.link-one::after {
content: "";
position: absolute;
z-index: -1;
width: 100%;
height: 100%;
top: 0;
right: 0;
background-color: #151515;

clip-path: polygon(
	40% 0%,
	60% 0%,
	60% 0%,
	40% 0%,
	40% 100%,
	60% 100%,
	60% 100%,
	40% 100%
);

/*
Didn't look consistently awesome enough
across different viewing widths.
clip-path: polygon(
	50% 50%,
	50% 50%,
	50% 50%,
	50% 50%,
	50% 50%,
	50% 50%,
	50% 50%,
	50% 50%,
	50% 50%,
	50% 50%,
	50% 50%,
	50% 50%,
	50% 50%,
	50% 50%,
	50% 50%,
	50% 50%,
	50% 50%,
	50% 50%,
	50% 50%,
	50% 50%,
	50% 50%,
	50% 50%
);
*/
transition: clip-path 1s cubic-bezier(0.65, 0, 0.35, 1);
}

.link-one:hover::after {
/*
clip-path: polygon(
	20% 45%,
	10% 40%,
	30% 30%,
	40% 35%,
	60% 35%,
	70% 30%,
	90% 40%,
	80% 45%,
	60% 35%,
	40% 35%,
	20% 45%,
	20% 55%,
	10% 60%,
	30% 70%,
	40% 65%,
	60% 65%,
	70% 70%,
	90% 60%,
	80% 55%,
	60% 65%,
	40% 65%,
	20% 55%
);
*/
clip-path: polygon(
	40% 10%,
	60% 10%,
	60% 35%,
	40% 35%,
	40% 90%,
	60% 90%,
	60% 65%,
	40% 65%
);
}

.link-two {
color: #0c0381;
transition: color 1s cubic-bezier(0.32, 0, 0.67, 0);
}

.link-two:hover {
color: #111;
transition: color 1s cubic-bezier(0.33, 1, 0.68, 1);
}

.link-two::before {
content: "";
position: absolute;
z-index: -2;
width: 100%;
height: 100%;
top: 0;
right: 0;
clip-path: polygon(
	0% -20%,
	100% -30%,
	100% -10%,
	0% 0%,
	0% 130%,
	100% 120%,
	100% 100%,
	0% 110%
);
background-color: #153897;

transition: clip-path 1s cubic-bezier(0.25, 1, 0.5, 1);
}

.link-two:hover::before {
clip-path: polygon(
	0% 10%,
	100% 0%,
	100% 20%,
	0% 30%,
	0% 100%,
	100% 90%,
	100% 70%,
	0% 80%
);
}

.link-two::after {
content: "";
position: absolute;
z-index: -1;
width: 5ch;
height: 5ch;
top: 50%;
right: 50%;
transform: translate(50%, -50%) rotate(0deg) scale(0);
transition: transform 1s ease;

background-color: #851ead;
}

.link-two:hover::after {
transform: translate(50%, -50%) rotate(135deg) scale(1);
}

.link-three {
color: #eb7132;
}

.link-three::after {
content: "";
position: absolute;
z-index: 2;
width: 50%;
height: 100%;
top: 0%;
left: 0%;
transform: translate(0, -50%) scaleY(0);
transition: transform 1s ease;
mix-blend-mode: difference;

clip-path: polygon(
	20% 60%,
	100% 60%,
	100% 40%,
	20% 40%,
	20% 0%,
	60% 0%,
	60% 20%,
	20% 20%
);

background-color: #eb7132;
}

.link-three:hover::after {
transform: translate(0, 0%) scaleY(1);
}

.link-three::before {
content: "";
position: absolute;
z-index: 2;
width: 50%;
height: 100%;
bottom: 0%;
right: 0%;
transform: translate(0, 50%) scaleY(0);
transition: transform 1s ease;
mix-blend-mode: difference;

clip-path: polygon(
	80% 40%,
	0% 40%,
	0% 60%,
	80% 60%,
	80% 100%,
	40% 100%,
	40% 80%,
	80% 80%
);

background-color: #eb7132;
}

.link-three:hover::before {
transform: translate(0%, 0%) scaleY(1);
}
